<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new listing here</title>
    <h1>List a new space below</h1>
</head>
<body>
<form action="/new_listing" method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required>
  </div>
  <p></p>
  <div class="mb-3">
    <label for="description">Description</label>
    <textarea name="description" id="description" required></textarea>
  </div>
  <p></p>
  <div class="mb-3">
    <label for="price_per_night">Price per night (£)</label>
    <input type="number" step="0.01" name="price_per_night" id="price_per_night" required>
  </div>
  <p></p>
  <div class="mb-3">
    <label for="available_from">Available from (DD/MM/YY)</label>
    <input type="date" name="available_from" id="available_from">
  </div>
  <p></p>
  <div class="mb-3">
    <label for="available_to">Available to (DD/MM/YY)</label>
    <input type="date" name="available_to" id="available_to">
  </div>
  <p></p>
  <div class="mb-3">
    <label for="image">Image (optional)</label>
    <input id="image" name="image" type="file" accept="image/*">
  </div>
  <p></p>
  <button type="submit">List my Space</button>
</form>
<p></p>
<a href="/" class="button">Go back to listings</a>

</body>
</html>