<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ space.name }}</title>
</head>
<body>
    <h1>{{ space.name }}</h1>
    <div class="spaces-listing">
        <p class="space-name">{{space.name}}</p>
        <p class="space-description">{{space.description}}</p>
        <p class="space-price-per-night">{{space.price_per_night}}</p>
        <p class="space-booking-flag">{{space.booking_flag}}</p>
        <p class="user-name">{{user.name}}</p>
        <form action="/spaces/{{space.id}}" method="POST">
            <button id="booking-btn" type="submit">Book Here</button>
        </form>        
    </div>

</body>
</html>