<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spaces</title>
</head>
<body>
    <h1>Spaces</h1>
    {% for space in spaces %}

    <div class="spaces-listing">
        <p class="space-name">{{space.name}}</p>
        <p class="space-description">{{space.description}}</p>
        <p class="space-price_per_night">£{{space.price_per_night}} per night</p>
        {% if space.booked_flag %}
        <p class="space-booking-flag">This space has been booked</p>
        {% else %}
        <p class="space-booking-flag">This space is currently available</p>
        {% endif %}
            {% for user in users %}
            {% if user.id == space.user_id %}
                <p class="space-user-name">Space Owner: {{user.username}}</p>
            {% endif %}
        {% endfor %}
        <a class="space-user-link" href="{{ url_for('get_all_spaces_for_one_user', user_id=space.user_id)}}">Go to all listings for this user</a>
        <p><a class="space-link" href="{{ url_for('get_individual_space', space_id=space.id)}}">Go to Space</a></p>
    </div>
    <br>
    {% endfor %}

    <a href="{{ url_for('get_all_spaces_for_one_user', user_id=user_id) }}">
    <button type="button">View my listings</button>
    </a>
    <a href="{{ url_for('new_listing', user_id=user_id) }}">
    <button type="button">Add new listing</button>
    </a>

</body>
</html>